@page "/"

<head>
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
</head>

<PageTitle>BeeTest</PageTitle>

<div class="index">
    <form>
        <h1>BeeTest</h1>
        <div class="field-container">
            <div class="line">
                <label>Email</label>
                <input type="email" placeholder="Email" />
            </div>
            <div class="line">
                <label>Password</label>
                <input type="password" placeholder="Password" />
            </div>
        </div>
        <button>Log In</button>
    </form>
</div>
