.user-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type=date]{
    width: 200px;
}

input[type=date]:focus {
    outline: none;
}