@page "/users/add"
@layout AuthenticatedLayout

@using BeeTest.Models
@using BeeTest.Pages.Components
@using BeeTest.Authentication
@using Services.Interfaces
@using BCrypt.Net

@inject NavigationManager navigationManager
@inject IJSRuntime js
@inject IUserService userService
@inject IRoleService roleService

<PageTitle>BeeTest | Add User</PageTitle>

<AuthorizeView>
    <Authorized>            
        <div class="add-user">
            <PageHeader Text="Add User" />

            @if (@IsLoading)
            {
                <LoadingView />
            } else
            {
                <form Model="NewUser" class="user-form">
                    <div class="line">
                        <label for="name">Name</label>
                        <input type="text" id="name" @bind="NewUser.Name" />
                    </div>
                    <div class="line">
                        <label for="email">Email</label>
                        <input type="email" id="email" @bind="NewUser.Email" />
                    </div>
                    <div class="line">
                        <div>
                            <label>Gender</label>
                        </div>
                        <div>
                            <label for="male">Male</label>
                            <input type="radio" id="male" name="gender" value="Male" @onchange="UpdateGender" checked="@IsMaleRadioButtonChecked" />
                            <label for="female">Female</label>
                            <input type="radio" id="female" name="gender" value="Female"
                                @onchange="UpdateGender" checked="@IsFemaleRadioButtonChecked"/>
                        </div>
                    </div>
                    <div class="line">
                        <label for="date-of-birth">Date of Birth</label>
                        <input type="date" id="date-of-birth" @bind="NewUser.DateOfBirth" />
                    </div>
                    <Button Text="Add User" OnClick="Save" />
                </form>
            }
        </div>
    </Authorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        AuthStateProvider.AllowAdminOnly(authState, navigationManager);

        await base.OnInitializedAsync();
    }

    private bool IsLoading { get; set; } = false;

    private User NewUser = new User();
    private string Gender { get; set; }
    private bool IsMaleRadioButtonChecked => Gender == "Male";
    private bool IsFemaleRadioButtonChecked => Gender == "Female";

    private void UpdateGender(ChangeEventArgs e)
    {
        Gender = e.Value.ToString();
    }

    private async Task Save()
    {
        IsLoading = true;
        await Task.Delay(1);

        if (!(await AreFormValuesValid()))
        {
            IsLoading = false;
            await Task.Delay(1);

            return;
        }

        NewUser.Id = 0;
        NewUser.Password = BCrypt.HashPassword(NewUser.Name);
        NewUser.Role = roleService.Get("Participant");
        NewUser.Gender = Gender == "Male" ?
            Enumerations.Gender.Male : Enumerations.Gender.Female;

        if (await userService.AddOrUpdate(NewUser))
        {
            await js.InvokeVoidAsync("alert", "User Added Successfully");

            NewUser = new User();
            Gender = "";
        }
        else await js.InvokeVoidAsync("alert", "Couldn't Save User");

        IsLoading = false;
        await Task.Delay(1);
    }

    private async Task<bool> AreFormValuesValid()
    {
        if (NewUser.Name == null || NewUser.Name == "") {
            await js.InvokeVoidAsync("alert", "Name can't be empty");
            return false;
        }

        if (NewUser.Email == null || NewUser.Email == "")
        {
            await js.InvokeVoidAsync("alert", "Email can't be empty");
            return false;
        }

        if (!NewUser.Email.EndsWith("@gmail.com"))
        {
            await js.InvokeVoidAsync("alert", "Email must end with @gmail.com");
            return false;
        }

        User userWithTheSameEmail = await userService.Get(NewUser.Email);
        if (userWithTheSameEmail != null)
        {
            await js.InvokeVoidAsync("alert", "Email already taken");
            return false;
        }

        if (Gender == null)
        {
            await js.InvokeVoidAsync("alert", "You must choose a gender");
            return false;
        }

        return true;
    }
}