.user-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line {
    display: flex;
    flex-direction: column;
}

.line input[type=text],
.line input[type=email] {
    width: 100%;
}