.index {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #018dd1;
}

.index form {
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.index .field-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.index .line {
    display: flex;
    flex-direction: column;
}

.index input {
    height: 35px;
}

.index button {
    width: 100%;
    height: 40px;
    background-color: #018dd1;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    transition: all 0.1s ease-in;
}

.index button:hover {
    transform: scale(1.01, 1.01);
    background-color: #f48703;
}

