.user-form[b-2z7w7jde7k] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line[b-2z7w7jde7k] {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type=date][b-2z7w7jde7k]{
    width: 200px;
}

input[type=date]:focus[b-2z7w7jde7k] {
    outline: none;
}