main[b-thbicw15dz] {
    padding: 25px;
    width: 100%;
    height: auto;
    margin-left: 250px
}

.authenticated-layout[b-thbicw15dz] {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}