.question-form[b-xv5qgelsl0]{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#question-title[b-xv5qgelsl0]{
    display: flex;
    flex-direction: column;
}

.line[b-xv5qgelsl0]{
    display: flex;
    align-items: center;
    gap: 15px;
}

input[type=checkbox][b-xv5qgelsl0] {
    height: 18px;
    width: 18px;
}

textarea[b-xv5qgelsl0]{
    width: 100%;
    height: 27px;
    resize: vertical;
    padding: 0 5px;
}

#choices-container[b-xv5qgelsl0] {
    margin-bottom: 25px;
}

#choices-container #top[b-xv5qgelsl0] {
    display: flex;
    gap: 15px
}

#choices-container #bottom[b-xv5qgelsl0]{
    display: flex;
    flex-direction: column;
    gap: 10px;
}