.button {
    background-color: #018dd1;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 7px 10px;
    transition: all 0.1s ease-in;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.01, 1.01);
    background-color: #f48703;
}