/* _content/BeeTest/Pages/Components/Button.razor.rz.scp.css */
.button[b-mxvpqn1dtl] {
    background-color: #018dd1;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 7px 10px;
    transition: all 0.1s ease-in;
    font-weight: bold;
}

.button:hover[b-mxvpqn1dtl] {
    transform: scale(1.01, 1.01);
    background-color: #f48703;
}
/* _content/BeeTest/Pages/Components/LoadingView.razor.rz.scp.css */
.loading-view[b-9ys799mncy] {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

.loading[b-9ys799mncy] {
    border: 10px solid var(--secondary-color);
    border-top: 10px solid var(--primary-color);;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin-b-9ys799mncy 1.5s ease-in-out infinite;
}

@keyframes spin-b-9ys799mncy {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/* _content/BeeTest/Pages/Components/PageHeader.razor.rz.scp.css */
.page-header[b-qqlga66mbd] {
    margin-bottom: 50px;
}
/* _content/BeeTest/Pages/Components/QuestionForms/BooleanQuestionForm.razor.rz.scp.css */
.question-form[b-jm3tu5yj5x] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#question-title[b-jm3tu5yj5x]{
    display: flex;
    flex-direction: column;
}

textarea[b-jm3tu5yj5x] {
    resize: vertical;
}

#choices-container[b-jm3tu5yj5x] {
}

.line[b-jm3tu5yj5x] {
    display: flex;
    gap: 5px;
}
/* _content/BeeTest/Pages/Components/QuestionForms/CheckboxesQuestionForm.razor.rz.scp.css */
.question-form[b-x3iqv3qq66]{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#question-title[b-x3iqv3qq66]{
    display: flex;
    flex-direction: column;
}

.line[b-x3iqv3qq66]{
    display: flex;
    align-items: center;
    gap: 15px;
}

input[type=checkbox][b-x3iqv3qq66] {
    height: 18px;
    width: 18px;
}

textarea[b-x3iqv3qq66]{
    width: 100%;
    height: 27px;
    resize: vertical;
    padding: 0 5px;
}

#choices-container[b-x3iqv3qq66] {
    margin-bottom: 25px;
}

#choices-container #top[b-x3iqv3qq66] {
    display: flex;
    gap: 15px
}

#choices-container #bottom[b-x3iqv3qq66]{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* _content/BeeTest/Pages/Components/QuestionForms/MultipleChoiceQuestionForm.razor.rz.scp.css */
.question-form[b-xknbcvhci3] {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#choices-container[b-xknbcvhci3] {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#question-title[b-xknbcvhci3] {
    display: flex;
    flex-direction: column;
}
.line[b-xknbcvhci3] {
    display: flex;
    align-items: center;
    gap: 10px;
}

textarea[b-xknbcvhci3] {
    width: 100%;
    resize: vertical;
    padding: 0 5px;
}
/* _content/BeeTest/Pages/Login.razor.rz.scp.css */
.login[b-b9zy7gl736] {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

form[b-b9zy7gl736] {
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 350px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}
.field-container[b-b9zy7gl736] {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.line[b-b9zy7gl736] {
    display: flex;
    flex-direction: column;
}

input[b-b9zy7gl736] {
    height: 35px;
}

button[b-b9zy7gl736] {
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    transition: all 0.1s ease-in;
}

button:hover[b-b9zy7gl736] {
    transform: scale(1.01, 1.01);
    background-color: var(--secondary-color);
}
/* _content/BeeTest/Pages/Questions/AddQuestion.razor.rz.scp.css */
.question-form[b-6xqzjbu8bs] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line[b-6xqzjbu8bs] {
    display: flex;
    flex-direction: column;
}

select[b-6xqzjbu8bs] {
    height: 30px;
}
/* _content/BeeTest/Pages/Tests/AddTest.razor.rz.scp.css */
.test-form[b-0vvibkcvzw] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line[b-0vvibkcvzw] {
    display: flex;
    flex-direction: column;
}

.line input[type=text][b-0vvibkcvzw] {
    width: 100%;
}

.line input[type=number][b-0vvibkcvzw] {
    width: 100px;
}
/* _content/BeeTest/Pages/Tests/TestDetails.razor.rz.scp.css */
.test-form[b-lj4536m4lr] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line[b-lj4536m4lr] {
    display: flex;
    flex-direction: column;
}

.line input[type=text][b-lj4536m4lr] {
    width: 100%;
}

.line input[type=number][b-lj4536m4lr] {
    width: 100px;
}
/* _content/BeeTest/Pages/Users/AddUser.razor.rz.scp.css */
.user-form[b-2z7w7jde7k] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line[b-2z7w7jde7k] {
    display: flex;
    flex-direction: column;
}

.line input[type=text][b-2z7w7jde7k],
.line input[type=email][b-2z7w7jde7k] {
    width: 100%;
}
/* _content/BeeTest/Shared/AuthenticatedLayout.razor.rz.scp.css */
main[b-thbicw15dz] {
    padding: 25px;
    width: 100%;
    margin-left: 250px;
    height: auto;
}

.authenticated-layout[b-thbicw15dz] {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
}

.side-bar[b-thbicw15dz] {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 25px 20px;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    position: fixed;
    overflow-y: auto;
}

span[b-thbicw15dz] {
    height: 3px;
    width: 100%;
    background-color: var(--on-primary-color);
    display: block;
}

.top[b-thbicw15dz] {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top div[b-thbicw15dz] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-item[b-thbicw15dz] {
    background-color: red !important;
}

h5[b-thbicw15dz] {
    text-decoration: none !important;
    color: white;
}

#logout-button[b-thbicw15dz] {
    background-color: var(--secondary-color);
    color: white;
    width: 100%;
    height: 40px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
}

#logout-button:hover[b-thbicw15dz] {
    transform: scale(1.02, 1.02);
}
/* _content/BeeTest/Shared/MainLayout.razor.rz.scp.css */
.page[b-eklyso7iaa] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-eklyso7iaa] {
    flex: 1;
}

.sidebar[b-eklyso7iaa] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-eklyso7iaa] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-eklyso7iaa]  a, .top-row .btn-link[b-eklyso7iaa] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-eklyso7iaa] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-eklyso7iaa] {
        display: none;
    }

    .top-row.auth[b-eklyso7iaa] {
        justify-content: space-between;
    }

    .top-row a[b-eklyso7iaa], .top-row .btn-link[b-eklyso7iaa] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-eklyso7iaa] {
        flex-direction: row;
    }

    .sidebar[b-eklyso7iaa] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-eklyso7iaa] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-eklyso7iaa], article[b-eklyso7iaa] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
