@using BeeTest.Pages.Components
@using BeeTest.Models
@using BeeTest.Models.QuestionDetail
@using BeeTest.Services.Interfaces
@using System.Text.Json
@using System.IO
@using MudBlazor

@inject IJSRuntime js
@inject ITestService testService
@inject IQuestionTypeService questionTypeService
@inject IQuestionService questionService
@inject NavigationManager navigationManager

@if (IsLoading)
{
    <LoadingView />
}
else
{
    <form class="question-form">
        <div class="line">
            <label for="title">Question Title</label>
            <textarea id="title" @bind="@NewQuestion.Title" />
        </div>
       <div class="line">
            <InputFile class="form-control" OnChange="HandleFileChange" @key="inputFileKey" />
        </div>
    </form>
}

@code {
    [Parameter]
    public int TestId { get; set; }

    private bool IsLoading = false;

    private Question NewQuestion = new Question();
    private FileQuestionDetail QuestionDetail = new FileQuestionDetail();

    private object inputFileKey = new object();

    private async Task<bool> AreFormValuesValid()
    {
        if (NewQuestion.Title == null || NewQuestion.Title == "")
        {
            await js.InvokeVoidAsync("alert", "Question title must be filled");
            return false;
        }

        return true;
    }

    private async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        if (!(await AreFormValuesValid()))
        {
            ClearFile();
            return;
        }

        IsLoading = true;
        await Task.Delay(1);

        string fileName = Guid.NewGuid().ToString();
        string url = await js.InvokeAsync<string>(
                "uploadFileToFirebase",
                "questions",
                fileName,
                e.File
            );

        if (url == "")
        {
            IsLoading = false;
            ClearFile();

            return;
        }

        NewQuestion.Id = 0;
        QuestionDetail.fileURL = url;
        QuestionDetail.filePath = $"questions/{fileName}";
        NewQuestion.Details = QuestionDetail.ToJSONString();
        NewQuestion.Test = await testService.Get(TestId);
        NewQuestion.QuestionType = await questionTypeService.Get("File");

        if (await questionService.AddOrUpdate(NewQuestion))
        {
            await js.InvokeVoidAsync("alert", "Question Added Successfully");

            ResetFormValues();
        }
        else await js.InvokeVoidAsync("alert", "Couldn't Save Question");

        IsLoading = false;
        await Task.Delay(1);
    }

    private void ClearFile() => inputFileKey = new object ();

    private void ResetFormValues()
    {
        NewQuestion = new Question();
        ClearFile();
    }
}