.question-form[b-6xqzjbu8bs] {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line[b-6xqzjbu8bs] {
    display: flex;
    flex-direction: column;
}

select[b-6xqzjbu8bs] {
    height: 30px;
    border: 2px solid black;
    padding: 2px;
}