.question-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.line {
    display: flex;
    flex-direction: column;
}

select {
    height: 30px;
    border: 2px solid black;
    padding: 2px;
}