.loading-view[b-9ys799mncy] {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

.loading[b-9ys799mncy] {
    border: 10px solid var(--secondary-color);
    border-top: 10px solid var(--primary-color);;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin-b-9ys799mncy 1.5s ease-in-out infinite;
}

@keyframes spin-b-9ys799mncy {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
