@page "/schedules"
@layout AuthenticatedLayout

@using BeeTest.Models;
@using BeeTest.Pages.Components
@using BeeTest.Pages.Components.Gates
@using MudBlazor

@inject NavigationManager navigationManager

<AdminOnlyGate/>

<PageTitle>BeeTest | Manage Schedules</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="manage-schedules">
            <PageHeader Text="Manage Schedules" />

            @if(IsLoading)
            {
                <LoadingView />
            }

            @if (schedules.Count() == 0)
            {
                <h5>There Are No Schedules</h5>
            }

            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Size="Size.Large" OnClick="NavigateToAddSchedulePage" Style="@($"background-color:{Colors.Blue.Default}; color:{Colors.Grey.Lighten5}; border-radius: 2px;")">Add Test Schedule</MudButton>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private bool IsLoading = false;

    private List<Schedule> schedules = new List<Schedule>();

    private void NavigateToAddSchedulePage()
    {
        navigationManager.NavigateTo("/schedules/add", true);
    }
}
